body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

section {
    position: relative;
    padding: 20px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    top: 0;
}
img {
    width: 70px;
}
